<div class='nested-fields'>
    <hr>
    <%= f.input :homepagetype %>
    <%= f.input :url, placeholder: 'http://www.homepage.com' %>
    <%= link_to_remove_association "remove homepage", f %>
    <hr>
</div>
